.subbody-8 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 12px;
}

.subbody-10 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
}

.subbody-12 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
}

.subbody-14 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.subbody-16 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.subbody-24 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}

.subbody-32 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
}

.subbody-40 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
}

.subbody-48 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
}

.subheading-8 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 12px;
}

.subheading-10 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
}

.subheading-12 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
}

.subheading-14 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.subheading-16 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.subheading-24 {
    font-family: "Lato", sans-serif, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.subheading-32 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.subheading-40 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.subheading-48 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}
.body-48 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
}
.body-8 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
}
.body-10 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
}
.body-12 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}
.body-14 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.body-16 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.body-24 {
    font-family: "Lato", sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.body-32 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}
.body-40 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}
.heading-24 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}
.heading-14 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
}
.heading-8 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 8px;
    line-height: 12px;
}
.heading-10 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 16px;
}
.heading-12 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
}
.heading-16 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}
.heading-32 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
}
.heading-40 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
}
.heading-48 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}