$neutral-n0:#FFFFFF;
$neutral-n10:#FAFAFA;
$neutral-n20:#F5F5F5;
$neutral-n30:#EBEBEB;
$neutral-n40:#DEDEDE;
$neutral-n50:#C0C0BF;
$neutral-n60:#B0B0B0;
$neutral-n70:#A4A4A3;
$neutral-n80:#949494;
$neutral-n90:#858585;
$neutral-n100:#767675;
$neutral-n200:#676766;
$neutral-n300:#575757;
$neutral-n400:#4B4B4A;
$neutral-n500:#3B3B3B;
$neutral-n600:#2F2F2E;
$neutral-n700:#1D1D1C;
$neutral-n800:#0E0E0D;
$neutral-n900:#010100;
$primary-50:#FFFAEA;
$primary-75:#FFEAA7;
$primary-100:#FFE183;
$primary-200:#FFD54D;
$primary-300:#FFCC29;
$primary-400:#B38F1D;
$primary-500:#9C7C19;
$accent1-a50: #F3EFFF;
$accent1-a75: #CEBEFE;
$accent1-a100: #BAA3FD;
$accent1-a200: #9C7CFD;
$accent1-a300: #8861FC;
$accent1-a400: #5F44B0;
$accent1-a500: #533B9A;
$accent2-a50: #FEF1EC;
$accent2-a75: #FAC6AF;
$accent2-a100: #F7AE8E;
$accent2-a200: #F48B5D;
$accent2-a300: #F2733C;
$accent2-a400: #A9512A;
$accent2-a500: #944625;
$accent3-a50: #FFEAF3;
$accent3-a75: #FFABCE;
$accent3-a100: #FF88B9;
$accent3-a200: #FF549B;
$accent3-a300: #FF3187;
$accent3-a400: #B3225F;
$accent3-a500: #9C1E52;
$accent4-a50: #E6F7E8;
$accent4-a75: #96DEA2;
$accent4-a100: #6BD07B;
$accent4-a200: #2BBC43;
$accent4-a300: #00AE1C;
$accent4-a400: #007A14;
$accent4-a500: #006A11;
$blue-b50: #F3EFFF;
$blue-b75: #CEBEFE;
$blue-b100: #BAA3FD;
$blue-b200: #9C7CFD;
$blue-b300: #8861FC;
$blue-b400: #5F44B0;
$blue-b500: #533B9A;