.all-experiences {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 1.33%;

  .all-experiences-top {
    display: flex;
    justify-content: space-between;
  }
  .cards-row-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  .circular-button {
    background-color: rgba(1, 1, 0, 0.4);
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &.left {
      position: absolute;
      top: 45.6%;
      left: -3.9%;
      z-index: 1;
      transform: translateY(-50%);
    }

    &.right {
      position: absolute;
      top: 45.6%;
      right: -5%;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: rgba(128, 128, 128, 0.7);
      border-color: rgba(128, 128, 128, 0.7);
    }
  }

  .cards-row {
    display: flex;
  }

  .experience-card {
    /* Your styles for the individual experience cards */
  }
}
