body.active-popup {
  overflow-y: hidden;
}

.btn-popup {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 28px;
}

.popup,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.popup-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-60%, -40%);
  line-height: 1.8;
  /* background: #aba9a9; */
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-popup {
  position: absolute;
  top: 20px;
  left: 800px;
  /* right: 1px; */
  padding: 5px 7px;
}
#emailInput {
  width: 100%;
  background-color: #ffffff;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 20px 20px;
  background-color: #fcfdfc;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-left: 40px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
