// .experience-card{
//     width:25vw;
//     height:35.2vh;
//     //margin-top:150px;
//     //margin-left: 24px;
//     margin-right: 2vh;
//     border-radius: 10px 10px 10px 10px;
//     background-color: #FFFFFF;

//     .experience-card__image{
//         width:25vw;

//         border-radius: 10px 10px 0px 0px;
//         height:49.2%;
//          background-color: aqua;
//          position: relative;
//          .experience-card__ticket{

//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             padding: 4px 12px;
//              margin: 0px 9vh 0px;
//             gap: 10px;
//             position: absolute;
//             width: 6.5vw;
//             height: 5vh;
//             left: 24vh;
//             top: 2vh;
//             background: #533B9A;
//             border-radius: 8px;
//             justify-items: end;
//             font-weight: 600;
//             font-size: 16px;
//             line-height: 24px;
//             color: #FFFFFF;
//     }

//     }
//     .experience-card__image >img{
//         border-radius: 10px 10px 0px 0px;
//         width: 100%;
//         max-height: 100%;
//     }

//     .experience-card__details{
//         width: 100%;
//         height: 13.2%;
//         left: 0px;
//         margin-top: 12px;
//         background: #FFFFFF;
//         display: flex;
//         // background-color: #533B9A;

//         .experience-card__details__heading{
//             width: 82%;
//             height: 13.2%;
//             // left: 16px;
//             // top: 192px;
//             font-family: 'Lato';
//             font-style: normal;
//             font-weight: 700;
//             font-size: 3vh;
//             //line-height: 24px;
//             color: #1D1D1C;
//             padding-left: 3vh ;

//         }

//         .bookmark{
//              margin-top: 2vh;
//              margin-bottom: 2vh;
//             margin-right: 122vh;
//             width: 2vh;
//             height: 2vh;
//             background-color: black;
//         }

//     }

//     .experience-card__timings{
//         width: 78%;
//         height: 14.4%;
//         margin-top: 3vh;
//         font-family: 'Lato';
//         font-style: normal;
//         font-weight: 500;
//         font-size: 2.5vh;
//         line-height: 3.5vh;
//         color: #3B3B3B;
//         // background-color: red;
//         padding-left: 3vh ;

//     }

//     .experience-card__date{
//         margin-top: 2vh;
//         position: relative;
//         width: 23.78vw;
//         height: 5vh;
//         left: 0px;
//         background: #CEBEFE;
//         border-radius: 0px 0px 10px 10px;
//         font-weight: 600;
//         font-size: 3vh;
//         //line-height: 30px;
//         color: #533B9A;
//         text-align:justify;
//         // padding-left:16px;
//         padding-top: 1vh;
//         padding-left: 1.25vw;

//         // padding-left: 16px ;
//     }

// }

.ticket {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #0000004c;
  padding: 7px;
  color: white;
  border-radius: 8px;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title:hover {
  display: -webkit-box;
  -webkit-line-clamp: unset;
  -webkit-box-orient: vertical;
  overflow: visible;
  text-overflow: unset;
}
